# 克喵分享

## 项目地址：

GitHub：https://github.com/Kemiaojun/kemiaofx

Gitee：https://gitee.com/kemiaoshiwo/kemiaodfx

免翻主页：https://axiuluoshiwo.github.io/

## 下载地址：

Excel在线表格：https://kdocs.cn/l/cesQMkm6QxNc

小飞机网盘（所有软件）：
https://share.feijipan.com/s/FQDHZYsk

## 软件列表：

GitHub：https://github.com/Kemiaojun/kemiaofx/blob/main/List.md

Gitee：https://gitee.com/kemiaoshiwo/kemiaofx/blob/master/List.md

## TG频道及群组：

Telegram频道：https://t.me/kemiaosw

Telegram群组：https://t.me/+ilqAQsWGXvxkOGE1

＃＃主要在电报和小飞机云盘发布
